*{
line-height:50px;

}

.greeting{
font-family: 'Pacifico', cursive;
color: #0D3038;
margin-top: 25px;


}

.username{
font-family: 'Pacifico', cursive;
}

.container{
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;

}

#comingsoon{
list-style: none;
font-size: 20px;
}

#orangelink{
color:orange;
}

.error{
    color: red;
}
