*{
line-height:50px;
}

.greeting{
font-family: 'Pacifico', cursive;
color: #020116;
margin: 20px;

}

.container{
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}

#comingsoon{
list-style: none;
font-size: 20px;
text-decoration: underline;
}

#orangelink{
color:orange;
}

.error{
    color: red;
}