<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Grocery App</title>
</head>
<body class="container">
<h1>Welcome to the Grocery App!</h1>
<header th:replace="fragments :: header"></header>
<div class="row">
    <div class="col-sm-8">
        <label>Username
            <input type="text"class="form-control">
        </label>
        <label>Password
            <input type="text" class="form-control">
        </label>
        <div class="form-group">
            <input type="submit" value="Log In!" class="btn  btn-success btn-md">
        </div>
    </div>
</div>
</body>
</html>