<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Add Grocery Item</title>
</head>
<body class="container">
<h2>Add Grocery Item</h2>

<header th:replace="fragments :: header"></header>

<form method="post" action="/grocerylist">
    <div class="form-group">
        <label>Item Name
            <input type="text" name="groceryName" class="form-control">
        </label>
        <label>Category
            <input type="text" name="groceryCategory" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Item" class="btn btn-success">
    </div>
</form>
</body>
</html>