<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Edit Grocery Item(s)</title>
</head>
<body class="container">

<h1 class="greeting">Edit Grocery Item(s)</h1>

<header th:replace="fragments :: header"></header>

<form id="editGroceryForm" method="get" action="/editgrocery">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Grocery Category</th>
        </tr>
        </thead>
        <tbody>
        <th:block>
            <tr  th:each="item : ${items}">
<!--                <td><input type="checkbox" name="itemIds" th:value="${item.id}"></td>-->
                <td><input type="text" th:value="${item.name}"></td>
                <td><input type="text" th:value="${item.description}"></td>
                <td><select th:field="${item.category.displayName}" class="form-control">
<!--                    <option th:each="category : ${categories}"-->
<!--                            th:value="${category}"-->
<!--                            th:text="${category.displayName}"-->
<!--                    ></option>-->
                </select></td>
            </tr>
        </th:block>
        <div class="form-group">
            <input form="editGroceryForm" type="submit" value="Update Grocery Item(s)" class="btn  btn-success btn-md" onclick="myFunction()">
        </div>
        </div>
        </tbody>
    </table>
</form>
</body></html>
