<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Edit Grocery Item(s)</title>
</head>
<body class="container">

<h1 class="greeting">Edit Grocery Item</h1>

<header th:replace="fragments :: header"></header>

<form id="editGroceryForm" method="post" action="/grocerylist/edit" modelAttribute="groceryItem">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Grocery Category</th>
        </tr>
        </thead>
        <tbody>
        <th:block>
            <tr>
                <td><input type="text" name="name" th:value="${groceryItem.name}" class="form-control"></td>
                <p class="error" th:errors="${groceryItem.name}"></p>
                <td><input type="text" name="description" th:value="${groceryItem.description}" class="form-control"></td>
                <p class="error" th:errors="${groceryItem.description}"></p>
                <input type="hidden" name="id" th:value="${groceryItem.id}">
                <input type="hidden" name="itemId" th:value="${itemId}">
                <td><select name="category"  th:value="${groceryItem.category}" class="form-control">
                    <option th:each="category : ${categories}"
                            th:value="${category}"
                            th:selected="${category == groceryItem.category}"
                            th:text="${category.displayName}"
                    ></option>
                </select></td>
            </tr>
        </th:block>
        <div class="form-group">
            <input type="submit" form="editGroceryForm" name="update" value="Update Grocery Item" class="btn  btn-success btn-md">
        </div>
        </div>
        </tbody>
    </table>
</form>
</body>
</html>
