<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Edit Grocery Item(s)</title>
</head>
<body class="container">

<h1 class="greeting">Edit Grocery Item(s)</h1>

<header th:replace="fragments :: header"></header>

<form id="editGroceryForm" method="get" action="/editgrocery">
    <div class="row">
        <div class="col-sm-8">
            <label>Item Name
                <input type="text" th:field="${groceryItem.name}" class="form-control">
            </label>
            <p class="error" th:errors="${groceryItem.name}"></p>
            <label>Description
                <input type="text" th:field="${groceryItem.description}" class="form-control">
            </label>
            <p class="error" th:errors="${groceryItem.description}"></p>
            <div class="form-group">
                <label>Grocery Category
                    <select th:field="${groceryItem.category}" class="form-control">
                        <option th:each="category : ${categories}"
                                th:value="${category}"
                                th:text="${category.displayName}"
                        ></option>
                    </select>
                </label>
            </div>
    <div class="form-group">
        <input type="submit" value="Update Grocery Item" class="btn btn-success">
    </div>
        </div>
    </div>
</form>
</body>
</html>