<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Grocery App</title>
</head>
<body class="container">

<h2>Grocery List</h2>
<header th:replace="fragments :: header"></header>

<p th:unless="${items} and ${items.size()}">No grocery items!</p>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Item Name</th>
    </tr>
    </thead>
    <tr  th:each="item : ${items}">
        <td th:text="${item}"></td>
    </tr>
</table>
</body>
</html>