<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Grocery App</title>
</head>
<body class="container">

<h1 class="greeting">Main Grocery List</h1>
<header th:replace="fragments :: header"></header>

<!--TODO: Put validation on the Delete Button-->
<form id="addGroceryForm" method="post" action="/grocerylist/add">
    <div class="row">
        <div class="col-12">
            <label>Item Name
                <input type="text" th:field="${groceryItem.name}" class="form-control">
            </label>
            <p class="error" th:errors="${groceryItem.name}"></p>
            <label>Description
                <input type="text" th:field="${groceryItem.description}" class="form-control">
            </label>
            <p class="error" th:errors="${groceryItem.description}"></p>
            <div class="form-group">
                <label>Grocery Category
                    <select th:field="${groceryItem.category}" class="form-control">
                        <option th:each="category : ${categories}"
                                th:value="${category}"
                                th:text="${category.displayName}"
                        ></option>
                    </select>
                </label>
            </div>
            <input form="addGroceryForm" type="submit" value="Add Item" class="btn  btn-success btn-md">
            <input form="groceryListForm" type="submit" value="Delete Item(s)" name="delete" class="btn btn-outline-danger">
        </div>
    </div>
</form>

<form id="groceryListForm" method="post" action="/grocerylist/delete">

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Select</th>
        <th>Item Name</th>
        <th>Item Description</th>
        <th>Grocery Category</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block>
        <tr  th:each="item : ${items}">
            <td><input type="checkbox" name="itemIds" th:value="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.category.displayName}"></td>
            <td>
                <a class="btn btn-warning btn-sm"  th:href="@{/grocerylist/edit(itemId=${item.id})}" type="button" value="Edit">Edit</a>
            </td>
        </tr>
    </th:block>
    <tr th:unless="${items} and ${items.size()}">
        <td>No grocery items!</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</form>
</body></html>
